.contactform
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 244px;
    padding: 34px 45px;

}
.contactform h1
{   background-color: aquamarine;
    text-align: center;
}
.mb-3 email
{
background-color: black;
}
.contactform form div{
    padding:  27px 0;
    padding: 9px;
}
.contactform form div input{
    width:26vw;
    border-radius: 5px;
    padding:  4px 0 0 0;
    padding: 4px;
}
.contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
}
.message
{
    margin-left: 500px;
    size: 50pc;
}
#greeting
{
/* {    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-size: 19px;
    color: purple;
    margin: 0 5px;
    font-family: 'Merriweather', serif;
    /* font-family: 'Architects Daughter', cursive; cursive */
}
.form-check
{
    
}