h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin: 20px; */
}
p
{
    font-family: 'Times New Roman', Times, serif;
}
.skills__container bd-grid
{
    margin-left: 500px;
}
.skills
{
   
    height: 20PX;
    /* background-color: red; */
     border-radius: 8px;
     margin-left: 50px;
     font-family: 'Architects Daughter', cursive;
     margin-left: 235px;
    margin-right: -186px;
}
.footer
{
    margin-top: 44vh;
}
.skillcontainer
{
    padding: 0PX;
}
.skillitem
{
display: flex;
align-items: center;
font-family: 'Architects Daughter', cursive;
}
.e80
{
    width: 80px;
    background-color:firebrick;
}
.f50
{ background-color:firebrick;
    width: 50px;
}

.im
{
  height: 23px;
  width: 23px;
}
.skills__container{
    row-gap: 2rem;
    text-align: center;
  }
  .skills__subtitle{
    /* margin-bottom: var(--mb-2); */
    font-size: 30PX;
  }
  .skills__text{
    /* margin-bottom: var(--mb-4); */
    font-size: medium;
  }
  .skills__data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: var(--font-semi);
    padding: .5rem 1rem;
    /* margin-bottom: var(--mb-4); */
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
  }
  /* .skills__icon{
    font-size: 2rem;
    margin-right: var(--mb-2);
    color: ;
  } */
  .skills__names{
    display: flex;
    align-items: center;
  }
  .skills__bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:lightsteelblue;
    height: .25rem;
    border-radius: .5rem;
    /* z-index: var(--z-back); */
  }
  .skills__html{
    width: 95%;
  }
  .skills__css{
    width: 85%;
  }
  .skills__js{
    width: 65%;
  }
  .skills__ux{
    width: 85%;
  }
  .skills__img{
    border-radius: .5rem;
  }