/* @import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Architects+Daughter&family=Source+Code+Pro:ital,wght@1,600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Code+Pro:ital,wght@1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Architects+Daughter&family=Merriweather:ital,wght@1,900&family=Source+Code+Pro:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Architects+Daughter&family=Merriweather:ital,wght@1,900&family=Source+Code+Pro:ital,wght@1,600&display=swap');
/* The sidebar menu */
.sidebar {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(1, 9, 10); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s; /* If you want a transition effect */
    padding: 0;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
nav ul li{

    padding : 0 10px 0 10px;
    
    }
.footer{
    background-color:brown;
    color: hsl(0, 22%, 96%);
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
    margin-top: 44vh;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: rgb(246, 241, 241);
    margin: 0 var(--mb-2)
  }
.name
{
    /* font-display: blue; */
    font-family: 'Merriweather', serif;
    font-size: 25px;
   
    
}
.resume
{
    list-style: none;
}
.sidebar nav
{
    /* padding: 45px; */

}
.sidebar nav li
{
    list-style: none;
    font-size: 20px;
    padding: 5px;
}
.sidebar nav li a
{
   /* list-style: none; */
   text-decoration: none;
   color: black;
    
}
.sidebar nav ul{
    margin: 7px 10 2px 100px;
}

*
{
    margin: 0;
    padding: 0;
}
.main
{
    /* background-color: yellow; */
    width: 85vw;
    padding: 20px;
}
.container
{
    display: flex;
}
.infoc
{  font-family: 'Merriweather', serif;
    /* background-color: green; */
    height: 75vh;
    width: 75vw;
   margin: auto;
   margin-top: 9px;
   display: flex;
   /* flex-wrap: wrap; */
   /* justify-content: center; */

}
.devpic img{
    height: 60vh;
    border-radius: 100px;
    /* width: 50vh; */
    justify-content: center;
    
}
.devinfo
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.hello
{
   font-size: 20px;
   font-weight: bold;
}
.about{
font-size: 25px;
font-weight: bold;
}
/* .name{ */
font-size: 30px;
font-weight: bold;
}
.buttons
{
    margin-top: 34px;
    /* text-decoration: none; */
}
.buttons button
{ padding: 5px 11px;
border-radius: 50px;
color: white;
font-weight: bold;
margin: 0 3px;
cursor: pointer;
background-color: dodgerblue;
text-decoration: none;
size: 0ch;
/* list-style: none; */
}
.buttons button:hover
{
    color: lawngreen;
    background-color: white;
}
.moreabout
{
font-size: 20px;
}
@media (max-width:550px){
    *
    {
        background-color:darkorange;
    }
}
.hamberger
{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;

}
.cross
{
    margin-left: 126px;
}
